::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #191919;
}

.left {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  height: auto;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

nav > div > ul {
  display: flex;
  justify-content: center;
}

nav > div > ul > li {
  list-style: none;
  margin: 0 23px;
  cursor: pointer;
}

nav > div > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

nav > div > ul > li > a:hover {
  color: hsl(290, 48%, 60%);
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
}

.rightSection img {
  width: 100%;
}

#name {
  color: #ba68ca;
}

#element {
  color: #ba68ca;
}

#text {
  color: #999;
}

#backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyRight {
  text-align: center;
  margin: 1vh;
  color: #ffffff80;
}

main > hr {
  border: 0;
  background-color: #ba68ca;
  height: 1px;
  width: 90vw;
  margin: 0 auto 5vh auto;
}

.secondSection {
  min-width: 80vw;
  margin: 0 10vw;
  height: 75vh;
}

.secondSection h1 {
  font-size: 1.5rem;
}

.secondSection .box {
  width: 80vw;
  background-color: #fff;
  height: 2px;
  margin: 10vh auto;
  display: flex;
}

.secondSection .vertical {
  height: 10vh;
  width: 1px;
  background-color: #fff;
  margin: 0 9vw;
}

.img-top > img {
  width: 30px;
  position: relative;
  top: -35px;
  right: 14px;
}

.job-title {
  position: relative;
  top: 8vh;
  font-size: 1.5em;
  width: 12vw;
}

.job-desc {
  position: relative;
  top: 9vh;
  width: 12vw;
  color: #ffffff80;
}

footer {
  background-color: #ba68ca20;
  height: 26vh;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-content > div {
  height: 100%;
  width: 30%;
}

.footer-first {
  margin: 15px 0;
}

.footer-content > div > ul {
  list-style: none;
}

.footer-content > div > ul > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

.footer-content > div > ul > li > a {
  color: white;
  text-decoration: none;
}

.footer-content > div > ul > li > img {
  height: 20px;
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #191919;
  }

  .left {
    font-size: 2.2vh;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    height: auto;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .right {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav > div > ul {
    display: flex;
    justify-content: center;
  }

  nav > div > ul > li {
    list-style: none;
    /* margin: 0 23px; */
    cursor: pointer;
  }

  nav > div > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.7vh;
  }

  nav > div > ul > li > a:hover {
    color: hsl(290, 48%, 60%);
  }

  main {
    width: 100vw;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .firstSection > div {
    width: 45%;
  }

  .leftSection {
    font-size: 2vh;
  }

  .rightSection img {
    width: 100%;
  }

  #name {
    color: #ba68ca;
  }

  #element {
    color: #ba68ca;
  }

  #text {
    color: #999;
  }

  #backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #copyRight {
    text-align: center;
    margin: 1vh;
    color: #ffffff80;
  }

  #copyRight > p{
    font-size: 13px;
  }

  main > hr {
    border: 0;
    background-color: #ba68ca;
    height: 1px;
    width: 90vw;
    margin: 0 auto 2vh auto;
  }

  .secondSection {
    margin: 0 0;
    height: 50vh;
    width: 100vw;
  }

  .secondSection h1 {
    font-size: 1.5rem;
  }

  .secondSection > span,
  h1 {
    margin-left: 3vh;
  }
  .secondSection .box {
    width: 85vw;
    background-color: #fff;
    height: 2px;
    margin: 6vh auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .secondSection .vertical {
    height: 5vh;
    width: 1px;
    background-color: #fff;
    margin: 0 25% 0 0;
  }
  
  .img-top > img {
    width: 30px;
    position: relative;
    top: -35px;
    right: 14px;
  }
  
  .job-title {
    position: relative;
    top: 2vh;
    font-size: 15px;
    width: 19vw;
  } 
  
  .job-desc {
    width: 100%;
    position: relative;
    font-size: 50%;
    top: 3vh;
    width: 12vw;
    color: #ffffff80;
  } 

  footer {
    background-color: #ba68ca20;
    height: 22vh;
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-content > div {
    height: 100%;
    width: 30%;
  }

  .footer-first {
    margin: 15px 0;
  }

  .footer-content > div > ul {
    list-style: none;
  }

  .footer-content > div > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
  }

  .footer-content > div > ul > li > a {
    color: white;
    text-decoration: none;
  }

  .footer-content > div > ul > li > img {
    height: 20px;
    margin: 0 10px;
  }}
